{% extends "booking_base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
Book {{ cruise.name }}
{% endblock %}

{% block content %}
<h1 class="booking_h1">Booking:</h1>
<div class="booking_cruise_title">
    {{ cruise.name }}
</div>
{% if cruise.bookable == True %}
<div class="booking_status_flex">
    <!-- Progress indicator -->
    <span id="progress_suite" class="booking_status_current">
        Suite
    </span>
    <span id="progress_guests">
       Guest Details
    </span>
    <span id="progress_payment">
        Payment
    </span>
</div>
<div class="journey_container" id="number_and_category_cont">
    <h2 class="booking_h2">How many guests?</h2>
    <div id="increment_cont">
        <div role="button" id="minus" class="passenger_increment">-</div>
        <span id="guest_span_count">2</span>
        <div role="button" id="plus" class="passenger_increment">+</div>
    </div>
    <h2 class="booking_h2">Select Suite Category</h2>
    <div id="category_cont">
       <!-- Check if tickets are available for each category. If not, category is greyed out and unselectable. -->
        {% if number_verandah > 0 %}
       <div class="suite_category" role="button" id="verandah">
            <img class="suite_category_image" alt="Image of {{ fare_verandah.suite_category.name }}" src="{{ fare_verandah.suite_category.suite_image.url }}">
            <div class="category_details">
                <span class="category_title">{{ fare_verandah.suite_category.name }}</span>
                <div class="category_price_box">
                    <span class="category_total">Total</span>
                    <span class="category_price">£ <span id="total_price_verandah"></span></span>
                </div>
            </div>
       </div>
        {% else %}
        <div class="suite_category_unavailable" role="button">
            <img class="suite_category_image" alt="Image of {{ fare_verandah.suite_category.name }}" src="{{ fare_verandah.suite_category.suite_image.url }}">
            <div class="category_details">
                <span class="category_title">{{ fare_verandah.suite_category.name }}</span>
                <div class="category_price_box">
                    <span class="category_price">Unavailable</span>
                </div>
            </div>
       </div>
        {% endif %}
        {% if number_deluxe > 0 %}
        <div class="suite_category" role="button" id="deluxe">
             <img class="suite_category_image" alt="Image of {{ fare_verandah.suite_category.name }}" src="{{ fare_deluxe.suite_category.suite_image.url }}">
             <div class="category_details">
                 <span class="category_title">{{ fare_deluxe.suite_category.name }}</span>
                 <div class="category_price_box">
                     <span class="category_total">Total</span>
                     <span class="category_price">£ <span id="total_price_deluxe"></span></span>
                 </div>
             </div>
        </div>
         {% else %}
         <div class="suite_category_unavailable" role="button">
             <img class="suite_category_image" alt="Image of {{ fare_deluxe.suite_category.name }}" src="{{ fare_deluxe.suite_category.suite_image.url }}">
             <div class="category_details">
                 <span class="category_title">{{ fare_deluxe.suite_category.name }}</span>
                 <div class="category_price_box">
                     <span class="category_price">Unavailable</span>
                 </div>
             </div>
        </div>
         {% endif %}
         {% if number_spa > 0 %}
         <div class="suite_category" role="button" id="spa">
              <img class="suite_category_image" alt="Image of {{ fare_spa.suite_category.name }}" src="{{ fare_spa.suite_category.suite_image.url }}">
              <div class="category_details">
                  <span class="category_title">{{ fare_spa.suite_category.name }}</span>
                  <div class="category_price_box">
                      <span class="category_total">Total</span>
                      <span class="category_price">£ <span id="total_price_spa"></span></span>
                  </div>
              </div>
         </div>
          {% else %}
          <div class="suite_category_unavailable" role="button">
              <img class="suite_category_image" alt="Image of {{ fare_spa.suite_category.name }}" src="{{ fare_spa.suite_category.suite_image.url }}">
              <div class="category_details">
                  <span class="category_title">{{ fare_spa.suite_category.name }}</span>
                  <div class="category_price_box">
                      <span class="category_price">Unavailable</span>
                  </div>
              </div>
         </div>
          {% endif %}
          {% if number_owner > 0 %}
          <div class="suite_category" role="button" id="owner">
               <img class="suite_category_image" alt="Image of {{ fare_owner.suite_category.name }}" src="{{ fare_owner.suite_category.suite_image.url }}">
               <div class="category_details">
                   <span class="category_title">{{ fare_owner.suite_category.name }}</span>
                   <div class="category_price_box">
                       <span class="category_total">Total</span>
                       <span class="category_price">£ <span id="total_price_owner"></span></span>
                   </div>
               </div>
          </div>
           {% else %}
           <div class="suite_category_unavailable" role="button">
               <img class="suite_category_image" alt="Image of {{ fare_owner.suite_category.name }}" src="{{ fare_owner.suite_category.suite_image.url }}">
               <div class="category_details">
                   <span class="category_title">{{ fare_owner.suite_category.name }}</span>
                   <div class="category_price_box">
                       <span class="category_price">Unavailable</span>
                   </div>
               </div>
          </div>
           {% endif %}
    </div>
    <button class="booking_button" id="suite_category_button" type="button">
       Suite <span class="material-symbols-outlined">arrow_forward</span>
    </button>
</div>
<div class="journey_container" id="suite">
    <h2 class="booking_h2">Select your suite</h2>
    <div id="deck_plan">
        <img src="" id="deckplan" alt="">
    </div>
    <h3>Available Suites</h3>
    <div id="suite_selection_cont">

    </div>
</div>
<div class="journey_container" id="guest_details">
    <h2 class="booking_h2">Enter the details for each guest</h2>
    <form method="POST" action="" class="booking_form" id="guest1">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" maxlength="25" required>
        <label for="last_name">Last Name</label>
        <input type="text" required id="last_name" maxlength="25">
        <label for="dob">Date of Birth</label>
        <input type="date" required id="dob">
        <label for="passport_number" for="passport_number">Passport Number</label>
        <input type="number" required maxlength="20" id="passport_number">
        <label for="passport_expiry">Passport Expiry Date</label>
        <input type="date" min="{{ passport_min_expire }}" required id="passport_expiry">
        <label for="telephone">Telephone</label>
        <input type="tel" maxlength="16" required id="telephone">
        <label for="email">Email</label>
        <input type="email" id="email" maxlength="120" required>
    </form>
</div>

<div class="journey_container" id="guest_details">
    <h2 class="booking_h2">Payment Details</h2>
    <h3>Payments securely processed by Stripe
        
    </h3>
</div>
<form method="POST" id="booking_form">
    <button class="booking_button" id="suite_category_button" type="button">
        Book <span class="material-symbols-outlined">arrow_forward</span>
    </button>
    {% csrf_token %}
    {{ booking_form.number_guests }}
    {{ booking_form.selected_category }}
    {{ booking_form.selected_suite }}

</form>

{% else %}
This cruise can no longer be booked. Apologies.
{% endif %}
{% endblock %}

{% if cruise.bookable == True %}
{% block footerscripts %}
<script>
    let verandah_price = {{ fare_verandah.price }};
    let deluxe_price = {{ fare_deluxe.price }};
    let spa_price = {{ fare_spa.price }};
    let owner_price = {{ fare_owner.price }};
</script>
<script>let deckplans = '{{ deckplans|safe }}';</script>
<script>let suites = '{{ suites|safe }}';</script>
<script src="{% static 'js/book.js' %}"></script>
{% endblock %}
{% endif %}


