<html>
  <head>
    <link rel="stylesheet" href="https://zenith-cruises.s3.eu-west-2.amazonaws.com/static/css/email.css">
  </head>
  <body>
    <table>
        <tr>
          <td id="logo">
            <img src="https://zenith-cruises.s3.eu-west-2.amazonaws.com/email/logomark.png" height="64px" width="auto" alt="Zenith Expedition Cruises">
          </td>
        </tr>
        <tr>
          <td>
            <h1>Booking Confirmed</h1>
        </td>
        </tr>
        <tr>
          <td>Thank you for booking with Zenith Cruises. We cannot wait to welcome you onboard {{ ship }}.</td>
        </tr>
        <tr>
          <td>
            <br>
            Your card has been successfully charged.
          </td>
        </tr>
        <tr>
          <td>
            <br>
            <h3>Your booking details are as follows</h3>
            <div class="info"><b>Cruise:</b> {{ cruise }}</div>
            <div class="info"><b>Suite Number:</b> {{ suite }}</div>
            <br>
            <span>Kind regards</span>
            <div>
                <img height="24px" width="auto" src="https://zenith-cruises.s3.eu-west-2.amazonaws.com/email/logo.png" alt="">
            </div>
        </td>
        </tr>
      </table>
  </body>
</html>