{% extends "booking_base.html" %}
{% load static %}
{% load mathfilters %}
{% load widget_tweaks %}

{% block title %}
Book {{ cruise.name }}
{% endblock %}

{% block content %}
<h1 class="booking_h1">Booking:</h1>
<div class="booking_cruise_title">
    {{ cruise.name }}
</div>
<div class="booking_status_flex">
    <span id="booking_status_current">
        Suite
    </span>
    <span>
       Guest Details
    </span>
    <span>
        Payment
    </span>
</div>
<h2 class="booking_h2">How many guests?</h2>

<div id="increment_cont">
    <div role="button" id="minus" class="passenger_increment">-</div>
    <span id="passenger_count_span">2</span>
    <div role="button" id="plus" class="passenger_increment">+</div>

</div>

<form method="POST" id="passenger_number_form">
    {% csrf_token %}
    {{ passenger_number_form.passengers_for_booking }}
</form>
{% endblock %}

{% block footerscripts %}
{% endblock %}