{% extends "booking_base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
Book {{ cruise.name }}
{% endblock %}

{% block content %}
<h1 class="booking_h1">Booking:</h1>
<div class="booking_status_flex">
    <!-- Progress indicator -->
    <span id="progress_suite">
        Suite
    </span>
    <span id="progress_guests">
       Guest Details
    </span>
    <span class="booking_status_current" id="progress_payment">
        Payment
    </span>
</div>
<div class="booking_cruise_title">
    {{ cruise.name }}
</div>

<div class="journey_container" id="number_and_category_cont">
    <form id="payment-form">
        <div id="payment-element">
          <!-- Elements will create form elements here -->
        </div>
        <button id="submit">Submit</button>
        <div id="error-message">
          <!-- Display error message to your customers here -->
        </div>
      </form>   
</div>

<script>
const stripe = Stripe('{{public_key}}');
const options = {
  clientSecret: '{{client_secret}}',
  // Fully customizable with appearance API.
  appearance: {/*...*/},
};
// Set up Stripe.js and Elements to use in checkout form, passing the client secret obtained in step 3
const elements = stripe.elements(options);

// Create and mount the Payment Element
const paymentElement = elements.create('payment');
paymentElement.mount('#payment-element');

const form = document.getElementById('payment-form');

form.addEventListener('submit', async (event) => {
  event.preventDefault();

  const {error} = await stripe.confirmPayment({
    //`Elements` instance that was used to create the Payment Element
    elements,
    confirmParams: {
      return_url: 'https://8000-ancfoster-zenithexpedit-u52h9oe6x1v.ws-eu95.gitpod.io/cruises',
    },
  });

  if (error) {
    // This point will only be reached if there is an immediate error when
    // confirming the payment. Show error to your customer (for example, payment
    // details incomplete)
    const messageContainer = document.querySelector('#error-message');
    messageContainer.textContent = error.message;
  } else {
    // Your customer will be redirected to your `return_url`. For some payment
    // methods like iDEAL, your customer will be redirected to an intermediate
    // site first to authorize the payment, then redirected to the `return_url`.
  }
});
</script>
{% endblock %}
{% block footerscripts %}

{% endblock %}


