{% extends "booking_base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
Thank you
{% endblock %}

{% block content %}
<h1 class="booking_h1">Booking:</h1>
<div class="booking_cruise_title">
  {{ cruise.name }}
</div>
<div class="booking_status_flex">
    <!-- Progress indicator -->
    <span id="progress_suite">
        Suite
    </span>
    <span id="progress_guests">
       Guest Details
    </span>
    <span class="booking_status_current" id="progress_payment">
        Payment
    </span>
</div>

<div class="journey_container" id="number_and_category_cont">
<br>
<span id="booking_msg"></span>
</div>

{% endblock %}
{% block footerscripts %}
<script>
const csrf = '{% csrf_token %}';
// Initialize Stripe.js using your publishable key
const stripe = Stripe('{{ public_key }}');

// Retrieve the "payment_intent_client_secret" query parameter appended to
// your return_url by Stripe.js
const clientSecret = new URLSearchParams(window.location.search).get(
  'payment_intent_client_secret'
);

// Retrieve the PaymentIntent
stripe.retrievePaymentIntent(clientSecret).then(({paymentIntent}) => {
  // Inspect the PaymentIntent `status` to indicate the status of the payment
  // to your customer.
  //
  // Some payment methods will [immediately succeed or fail][0] upon
  // confirmation, while others will first enter a `processing` state.
  //
  // [0]: https://stripe.com/docs/payments/payment-methods#payment-notification
  switch (paymentIntent.status) {
    case 'succeeded':
    var url = "/payment/booking";
			var csrf_token = csrf;

			fetch(url, {
				method: 'GET',
				headers: {
					'X-CSRFToken': csrf_token,
				}
			})
			.then(response => {
				if (response.ok) {
					return response.text();
				} else {
					throw new Error('There was a problem with the request.');
				}
			})
			.then(data => {
        let bookingMsg = document.getElementById('booking_msg');
        bookingMsg.innerText = `Your booking is confirmed. Your booking reference is ${data}. We have sent a confirmation email.`;

			})
			.catch(error => {
				console.log(error);
			});
      break;

    case 'processing':
      break;

    case 'requires_payment_method':
      // Redirect your user back to your payment page to attempt collecting
      // payment again
      break;

    default:
      message.innerText = 'Something went wrong.';
      break;
  }
});
</script>
{% endblock %}


