{% extends "base.html" %}
{% load static %}
{% load mathfilters %}
{% load widget_tweaks %}

{% block title %}
Contact
{% endblock %}
{% block meta %}
<meta name="description" content="Contact Zenith Expedition Cruises. We help people discover remote destinations and untouched wilderness in style, with expert guides and personalized service. Unwind in luxurious accommodations and indulge in gourmet cuisine as you explore the world's most captivating landscapes.">
<meta name="keywords" content="luxury cruise, expedition cruise, small ship, adventure travel, remote destinations, wilderness, expert guides, personalized service, luxurious accommodations, gourmet cuisine, captivating landscapes, sustainable travel">

{% endblock %}
{% block content %}
<div id="cruise_flex_mid">
      
    <h1>Contact</h1>
    <span>Get in touch with us! If you have any questions, comments, or would like to learn more about our cruises, please use the contact form below to get in touch with us. We appreciate your interest and will respond to your message as soon as possible. Thank you.</span>
    <ul class="customer_messages">
        {% if messages %}
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
    {% endif %}
    </ul>
    <form method="POST" class="booking_form">
        {% csrf_token %}
        <label for="id_name">Name</label>
            {{ enquiry_form.name }}
            {{ enquiry_form.name.errors }}
        <label for="id_email">Email</label>
        {{ enquiry_form.email }}
        {{ enquiry_form.email.errors }}
        <label for="id_email">Phone</label>
        {{ enquiry_form.phone }}
        {{ enquiry_form.phone.errors }}
        <label for="id_email">Message</label>
        {{ enquiry_form.message }}
        {{ enquiry_form.name.errors }}

        <button type="submit" id="contact_submit">Submit Enquiry</button>

    </form>
</div>
{% endblock %}
