{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | Zenith Expedition Cruises - luxury small ship voyages</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@200" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    {% block head_resources %}

    {% endblock %}
</head>
<body>
<header>
    <div class="head-logo">
        <div class="head-icons">
            {% if user.is_staff %}
            <a href="{% url 'dashboard' %}">
                <span class="material-symbols-outlined head-icons-span">
                    manage_accounts
                </span>
            </a>
           
            {% endif %}
        </div>
        <a id="logo-a" href="{% url 'home' %}"><img class="logo_img" src="{% static 'images/logo.svg' %}" alt="Zenith Expedition Cruises"></a>
        <div class="head-icons">
            {% if user.is_authenticated %}
            <a href="{% url 'account_logout' %}">
                <span class="material-symbols-outlined head-icons-span">
                    logout
                </span>
            </a>
            {% else %}
            <a href="{% url 'account_login' %}">
                <span class="material-symbols-outlined head-icons-span">
                    person
                </span>
            </a>
            {% endif %}
        </div>
    </div>
    <nav>
    <a href="{% url 'cruise_results' %}">Cruises</a>
    <a href="{% url 'experience' %}">The Experience</a>
    <a href="{% url 'contact' %}">Contact</a>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <div class="footer_cont">  
        <div class="footer_marketing">
            <span class="news_offers">Subscribe for news & offers</span>            
                <form class="news_form" action="https://gmail.us17.list-manage.com/subscribe/post?u=cbc8b1126537676a554d2dedd&amp;id=8dc62b61d6&amp;f_id=00b650e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_self">
                    <div>
                        <input type="email" placeholder="Your email" value="" name="EMAIL" id="mce-EMAIL" required>
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cbc8b1126537676a554d2dedd_8dc62b61d6" tabindex="-1" value=""></div>
                </form>
                <span class="news_offers">Connect on social media</span>
                <div id="social_icons">
                    <a href="https://facebook.com" target="_blank"><img src="{% static 'images/facebook.png' %}" alt="Facebook"></a>
                    <a href="https://instagram.com" target="_blank"><img src="{% static 'images/instagram.png' %}" alt="Instagram"></a>
                </div>
                <span>© Alexander Foster</span>
        </div>
        <div class="footer_logo">
            <img src="{% static 'images/logo_black_star.svg' %}" alt="Zenith Cruises Logo">
        </div>

    </div>
</footer>
{% block footerscripts %}
{% endblock %}
<script src="https://js.stripe.com/v3/"></script>
</body>
</html>