{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | Zenith Expedition Cruises - luxury small ship voyages</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@200" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    {% block head_resources %}

    {% endblock %}
</head>
<body>
<nav>
<a href="{% url 'cruise_results' %}">Cruises</a>
<a href="#">The Experience</a>
<a href="#">Contact</a>
</nav>
<main>
    {% block content %}
    {% endblock %}
</main>
{% block footerscripts %}
{% endblock %}
</body>
</html>