
{% extends "admin_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
Delete Booking
{% endblock %}
{% block head_resources %}

{% endblock %}

{% block content %}
<h1 class="admin_h1">Delete Booking: {{ booking.booking_ref }}</h1>
<div class="admin_create_cont">
    <div class="flex flex-col items-center justify-center">

        <span class="pb-4">Are you sure you want to delete the booking {{ booking.booking_ref }}? This cannot be undone and will make ticket bookable again.</span>
        <form class="flex justify-center flex-wrap bg-ad" method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes" class="admin_button  max-w-[120px]">
            <a id="cancel-a" href="{% url 'booking_details' id=booking.id %}">
                <div class="admin_button text-center w-[120px]" id="cancel-button">Cancel</div>
            </a>
            </div>
        </form>

    </div>
</div>
{% endblock %}
{% block footerscripts %}
{% endblock %}