
{% extends "admin_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
Destinations
{% endblock %}
{% block head_resources %}
{% endblock %}

{% block content %}
<h1 class="admin_h1">Destinations</h1>
<ul class="flex justify-center text-center items-center">
    {% if messages %}
        {% for message in messages %}
            <li class="p-2 m-2 text-center max-w-[300px] bg-[#dddddd] text-black222">{{ message }}</li>
        {% endfor %}
{% endif %}
</ul>
<div class="flex justify-between items-center ml-auto mr-auto max-w-[900px]">
    <a href="{% url 'new_destination' %}">
        <div class="admin_icon_button bg-black333 hover:bg-black111 text-base flex items-center text-white pl-2 pr-3 pt-1 pb-1 rounded-lg"><i class="material-symbols-outlined pr-2">add</i><span>New Destination</span></div>
    </a>
    <span class="font-light text-grey666">
    {{ number_destinations }}&nbsp;&nbsp;Destinations
    </span>
</div>
<div class="flex flex-col mt-4 max-w-[900px] ml-auto mr-auto">
    <div class="text-grey444 h-[40px] w-full font-medium text-sm bg-admin_table_grey_top pl-2 pr-2 flex items-center border border-admin_table_border rounded-tl-xl rounded-tr-xl">Destination, Country</div>
    <div class="flex-col">
        <ul>
        {% for destination in destinations %}
        <li class="h-[40px] w-full bg-admin_table_grey1 even:bg-admin_table_grey2 hover:bg-white pl-2 pr-2 border border-admin_table_border last:rounded-b-lg"><a href="{% url 'destination' destination.id %}" class="w-full h-[40px] flex items-center"><span>{{destination.name}},<span>&nbsp; {{destination.get_country_display}}</span></span></a></li>
        {% endfor %}
        </ul>
    </div>


</div>
</div>

{% endblock %}
{% block footerscripts %}

{% endblock %}